#listaBotones{
    -fx-alignment: CENTER;
    -fx-spacing: 10;
}

Button{
    -fx-padding: 5 30;
    -fx-font-size: 20;
}

TextField{
    -fx-max-width: 500;
    -fx-font-family: Verdana;
    -fx-font-size: 30;
}

Label{
    -fx-font-size: 16;
}